body,a,img,h1,h2,h3,h4,h5,h6,div,span,input,ul,ol,li,dl,dt,dd,p{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #666;

}
a:hover{
    color: #f80;
}
body{
    font-size: 14px;
    color: #4e4e4e;
    font-family: Microsoft YaHei;
}