
    {% extends 'base.html' %}
    <title>注册</title>
{% load static from staticfiles %}
    {% block cssadd %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    {% endblock cssadd %}
{% block jsadd %}
    <script src="{% static 'js/jq.js' %}"></script>
{% endblock jsadd %}
{% block sereach %}
{% endblock sereach %}
{% block mune %}
    <div style="height: 100px"></div>
{% endblock mune %}
{% block center %}
    <div >
        <div class="up">
            <div class="left">
                <div class="up"> <img src="/static/images/logo.png"></div>
                <div class="down">足不出户，新鲜每一天</div>
               </div>
            <div class="right">
                <div class="lable">
                    <h1>用户注册</h1>
                    <a href="{% url 'user:login' %}"> 登陆</a>
                </div>
                <div class="register">
                 <form action="{% url 'user:register' %}" method="post">
                    {% csrf_token  %}
                     <ul>
                         {{ context }}
                         <li>
                             <lable>姓名：</lable>
                             <input type="text" class="input01" name="uname">
                             <span>用户名不能为空!</span>

                         </li>
                         <li>
                                <lable>密码：</lable>
                                <input type="password" class="input02" name="password">
                                <span>密码不能为空!</span>
                         </li>
                         <li>
                                <lable>确认密码：</lable>
                                <input type="password" class="input03" name="repassword">
                                <span>密码不能为空!</span>
                         </li>
                         <li>
                                <lable> 邮箱：</lable>
                                <input type="text" class="input04" name="email">
                                <span>邮箱不能为空!</span>
                         </li>
                         <li>
                             <input type="checkbox" class="checkbox" ><span>不能为空</span><p>同意“天天生鲜用户使用协议”</p>
                         </li>

                         <li>
                             <input type="submit" class="submit" value="注册" >
                         </li>
                     </ul>
                 </form>
                </div>
            </div>
           
        </div>
    </div>
  {% endblock center %}
